<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pugnet_weather>
            <general>
                <enabled>1</enabled>
                <api_key>8569089e2bddea2dd2d5136226feeb7b</api_key>
                <city>Lublin</city>
            </general>
        </pugnet_weather>
    </default>
</config>
