<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pugnet\Weather\Api\WeatherManagementInterface" type="Pugnet\Weather\Model\WeatherManagement"/>
    <preference for="Pugnet\Weather\Api\WeatherRepositoryInterface" type="Pugnet\Weather\Model\WeatherRepository"/>
    <preference for="Pugnet\Weather\Api\Data\WeatherInterface" type="Pugnet\Weather\Model\Data\Weather"/>
    <preference for="Pugnet\Weather\Api\Data\WeatherSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Pugnet\Weather\Model\Spi\WeatherTempResolverInterface" type="Pugnet\Weather\Model\WeatherTempResolver"/>
    <virtualType name="Pugnet\Weather\Model\ResourceModel\Weather\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pugnet_weather_weather</argument>
            <argument name="resourceModel" xsi:type="string">Pugnet\Weather\Model\ResourceModel\Weather\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pugnet_weather_weather_listing_data_source" xsi:type="string">Pugnet\Weather\Model\ResourceModel\Weather\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
